.about-section {
  width: 100%;
  height: 20rem;
  background-image: url('banner-temp1adj.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-section p {
  width: 70%;
}

/* img#banner-temp {
  border: 3px solid red;
  width: 100%;
  height: auto;
} */